
@{ 
    ViewData["Title"] = "Dobro došli";

}

<!DOCTYPE html>
<html lang="ba" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title> Dobro došli </title>

    <style>
        .opis {
            background-color: black; 
            color: white;
            margin: 20px;
            padding: 20px;
        }

        .velika-slika{
            width: 50%;
        }

        </style>

</head>


<body>
  
    <div class="text-center">
        <h1 style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">Dobro došli na ELearning aplikaciju :)</h1>
        <hr>
        <p style="font-family:'Sitka Display'"><i> "Mogućnost učenja je dar, sposobnost učenja vještina, a odlučnost za učenjem je izbor." - B. Herbert</i></p>
    </div>

    <div class="velika-slika">
        <img src="https://previews.123rf.com/images/ontsunan/ontsunan1812/ontsunan181200044/118386299-online-education-training-course-tutorials-e-learning-smart-knowledge-cartoon-miniature-illustration.jpg" alt="">
        <h2>Svakodnevno pratite našu aplikaciju i proširujte svoje znanje.</h2>
    </div>

    <br>
    <br>
    <div class=" opis">
        <h2 style="border: 3px green;">Oblasti</h2>
        <p>Izaberite jedan od tri ponuđene oblasti. U budućnosti planiramo još oblasti dodavati. </p>
    </div>

    <div class=" opis">
        <h2>Kursevi</h2>
        <p>Izaberite jedan od ponuđenih kurseva.</p>
    </div>


</body>

</html>

