
@{
    ViewData["Title"] = "O aplikaciji";
}


<head>
    <style>
        .opis {
            color: black;
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 33.33%;
            padding: 35px;
            object-fit: cover;
            height: 100%;
        }

        .row::after {
            content: "";
            clear: both;
            display: table;
        }
        .okvir{
            border:solid;
            color:black;
            padding:4px;
        }
        .opis1 {
            color: #4CAF50;
            text-transform: uppercase;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
        }
       
        </style>
    </head>

<body>
    <br>
    <div class="opis1">
        <h1> Nešto više o aplikaciji</h1>
        <hr>
    </div>

    <div class="opis">
        <h2><i>Opis i svrha aplikacije</i></h2>
    </div>
    <br>

    <div class="okvir">
        <p><i>
    ELearning je aplikacija sa ugrađenom platformom za učenje. Aplikacija sadrži oblasti koje su podijeljene u kurseve. 
            U zavisnosti od toga da li korisnik pristupa aplikaciji sa fakultetskim e-mailom ili ne, otvara/ne otvara mu se mogućnost
            da pohađa dodatne kurseve. Moguć je pristup više korisnika. Korisnik također može izabrati oblasti, a i kurseve koje će pohađati.
            Glavne obaveze aplikacije su da snabdijeva korisnika informativnim sadržajem na razne načine i također vrši provjeravanje usvojenog 
            znanja putem kvizova. Korisnik je također u mogućnosti da ocjenjuje kurs koji je pohađao. Svaki dan korisnik može pristupiti dnevnom izazovu 
            ( daily challenge. ) Ukoliko korisnik želi pristupiti navedenom izazovu, dobija 3 pitanja iz svakog kursa koji pohađa, te 
            nakon odrađenog izazova može vidjeti rang listu svih korisnika tog kursa koji su pristupili dnevnom izazovu. 
            Primarni cilj aplikacije jeste usvajanje novog znanja, a također i vještina koje korisnik stiče.
</i></p>

        <br>

    </div>

    <br>

    <div class="opis1">
        <h1><i>Naš primarni cilj je da korisnicima olakšamo usvajanje novog znanja.</i></h1>
        </div>

    <br>
    <div class="opis">
        <h2><i>Osnivači aplikacije</i></h2>
    </div>
    <br>
    <div class="okvir">

        <div class="row">
            <div class="column">
                <b>
                    <pre><i>        Negra Ahmetspahić</i></pre>
                </b>
                <hr>
                <img src="https://scontent.fsjj1-1.fna.fbcdn.net/v/t1.0-9/p720x720/67296709_10214677250635274_5105854991181021184_o.jpg?_nc_cat=109&_nc_sid=85a577&_nc_ohc=T6yHTFe2JSYAX8TrMiU&_nc_ht=scontent.fsjj1-1.fna&_nc_tp=6&oh=288062f71e5400497227738c1074941c&oe=5F00E593" alt="Negra Ahmetspahić" width="315" height="390">
            </div>
            <div class="column">
                <b>
                    <pre><i>            Adnan Šabanović</i></pre>
                </b>
                <hr>
                <img src="https://scontent.fsjj1-1.fna.fbcdn.net/v/t1.0-9/36003126_1966196473411775_4488981895157121024_n.jpg?_nc_cat=107&_nc_sid=85a577&_nc_ohc=CkPUn-I7yokAX-AoUFf&_nc_ht=scontent.fsjj1-1.fna&oh=676dc2a32b4a397078d424525eff393f&oe=5F037676" alt="Adnan Šabanović" width="315" height="390">
            </div>
            <div class="column">
                <b>
                    <pre><i>                 Muhamed Opačin</i></pre>
                </b>
                <hr>
                <img src="http://www.softskillsacademy.ba/img/oo/3.png" alt="Muhamed Opačin" width="360" height="390">
            </div>
        </div>
        <hr>
        <br>

    </div>
</body>

