@{
    ViewData["Title"] = "Polica osiguranja";
}
<h1>@ViewData["Polica osiguranja"]</h1>


<head>

    <style>

        .prikaz {
            text-align: center;
            color:black;
        }

        .zabranjeno{
            font-size:20px;
        }

        .pocetni-prikaz {
            color: darkred;
            text-align:left;
            text-decoration-line:underline;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        </style>

    </head>

<br>
<br>
<br>

<div class="pocetni-prikaz">
    <h1>Pravila privatnosti naše aplikacije:</h1>
</div>

<br>
<br>

<div class="prikaz">
<h2><i>Zabranjeno je umnožavanje/kopiranje/reprodukovanje ove stranice. U slučaju prekršaja, bit će obaviješteni nadležni organi.</i></h2>
    </div>

<br>

<span style='font-size:70px;'>&#10060;&#10060;&#10060;&#10060;&#10060;&#10060;&#10060;&#10060;&#10060;&#10060;&#10060;</span>