
@{
    ViewData["Title"] = "Izrada";
}

<h1>Sretno :D</h1>

<p>@E_Learning.Controllers.KvizsController.pitanja[0].PitanjeTekst</p>
<input type="radio" id="odgovor1_1" name="pitanje1" value="male">
<label for="odgovor1_1">Male</label>
<br>
<input type="radio" id="odgovor1_2" name="pitanje1" value="female">
<label for="odgovor1_2">Female</label>
<br>
<input type="radio" id="odgovor1_3" name="pitanje1" value="other">
<label for="odgovor1_3">Other</label>
<br>
<input type="radio" id="odgovor1_4" name="pitanje1" value="other">
<label for="odgovor1_4">Other</label>
