
@{
    ViewData["Title"] = "Kombinatorika1";
}

<h1>Lekcija 2 - Riječi</h1>
<p>Riječ je najmanja samostalna jezička jedinica koja ima svoje značenje.
Sve riječi bosanskoga jezika dijele se u dvije velike grupe:<br>a) promjenljive riječi (1. padežne ili deklinacijske riječi: imenice, zamjenice i brojevi; 2. poredbene ili komparacijske riječi: pridjevi i neki prilozi; 3. lične ili konjugacijske riječi: glagoli);<br>b) nepromjenljive riječi (većina priloga, prijedlozi, veznici, riječce i uzvici).</p>
<h2>Imenice</h2>
<p>Imenice su riječi kojima imenujemo bića, predmete i pojave. S obzirom da li označavaju nešto čulno opipljivo ili čulno neopipljivo, imenice možemo podijeliti u dvije grupe:<br>a) konkretne (stvarne ili predmetne), na primjer: majka, brat, drvo, brdo, zvijezda; kometa,<br>b) apstraktne (nestvarne ili mislene), na primjer: ideja,filozofija, umjetnost, prošlost, budućnost, sram
i dr.</p>
<p>S obzirom na značenje imenice se dijele na:<br>a) vlastite ili osobne (Lejla, Dino),<br>b) opće ili zajedničke (pas, kuća, djevojčica).</p>
<p>Imenice se odlikuju gramatičkim kategorijama roda, broja i padeža. Rod može biti: muški, srednji i ženski, a broj jednina i množina. Padeži su različiti oblici imenskih riječi kojima se izražavaju različiti odnosi onoga što riječ znači prema ostalim riječima u sintagmi i rečenici. U bosanskome jeziku postoji sedam padeža u jednini i množini: nominativ, genitiv, dativ, akuzativ, vokativ, instrumental, lokativ. Skup padežnih oblika koji su međusobno povezani naziva se padežna deklinacija.</p>
<h2>Pridjevi</h2>
<p>Pridjevi su nesamostalne riječi koje stoje najčešće uz imenice i određuju ih po nekom svojstvu ili specifičnoj karakteristici (kvalitet, porijeklo, pripadnost, građa, vrijeme itd).<br>S obzirom na značenje pridjevi se dijele na:
<br>a)  opisne ili kvalitativne (rumen,pametan);
<br>b)  odnosne ili relacijske, među kojima možemo izdvojiti četiri podgrupe:
<br>1.  prisvojni ili posesivni
(sestrin, bakin, očev, kućni, državni);
<br>2.  gradivni ili materijalni (betonski, zlatan, bakarni, limeni);
<br>3.  vremenski ili temporalni (jučerašnji, noćni, ju tarnji);
<br>4.  mjesni ili lokalni (tamošnji, srednji, desni).</p>
<p>Gramatička obilježja pridjeva su rod, broj, padež,
vid i komparacija.
<br>Pridjevski vid može biti: a) određeni; b) neodređen
<br>Neodređenim oblikom pridjeva iskazuje se opće svojstvo i zato se stavlja ispred imenice: Našem tim predstoji lagan meč.
<br>Određeni oblik pridjeva stavlja se ispred imenice đ bi se označila njezina poznatost ili pojedinačnost: Obukao je plavu majicu.</p>
<p>Pridjevi (i neki prilozi) podložni su gramatičkoj kategoriji koja se naziva komparacija ili poređenje. stepenovanje ili stupnjevanje.
Komparacija je iskazivanje različitog stepena izrazi vanja neke osobine u dva ili više pojmova.</p>
<p>Sistem komparacije grade tri oblika:
<br>1.  POZITIV (osnovni oblik pridjeva: jak, drag);
<br>2.  KOMPARATIV (izricanje osobine u jačem stepenu: jači, draži);
<br>3.  SUPERLATIV (izricanje osobine u najjačem stepenu: najjači, najdraži).</p>


