
@{
    ViewData["Title"] = "Kombinatorika1";
}

<h1>Lekcija 1 - Glasovi</h1>
<p>Glas je najmanja jezička jedinica koja služi za razlikovanje značenja, odnosno to je najmanja razlikovna ili distinktivna jezička jedinica.</p>
<h2>Glasovi č, ć</h2>
<p>Glasovi č, ć zovu se sliveni glasovi ili afrikate. Oni čine afrikatski par i često dolazi do miješanja ovih glasova i u izgovoru i u pisanju. Ta je pojava posebno izražena kod bosanskomuslimanskoga stanovništva u srednjoj Bosni, navlastito u sarajevskoj regiji i u nekim bosanskim čaršijama. Primjeri za upotrebu glasova č, c: čahura, Foča, kreč, Caba, kuća, noć.</p>
<h2>Glasovi dž, đ</h2>
<p>Glas dž predstavlja zvučni parnjak bezvučnog suglasnika č. Glas đpredstavlja zvučni parnjak bezvučnog suglasnika č. I u izgovoru ovih glasova dolazi do miješanja u nekim regijama gdje živi bosanskomuslimansko stanovništvo. Primjeri za upotrebu glasova dž, đ: džamija, amidža, hadž, đerdan, lađa, smeđ.</p>
<h2>Glas h</h2>
<p>Glas h je frikativni zadnjonepčani bezvučni suglas¬nik kojem u sistemu zvučnih glasova nedostaje njegov zvučni parnjak. U bosanskome jeziku glas h je stabilan i veoma očuvan i frekventan glas koji je posebno očuvan posredstvom Kur'ana i učenjem u muslimanskim molitvama, kao i općenito u islam¬skoj vjerskoj praksi. Dosljedno se javlja u turciz¬mima (riječima posuđenim iz arapskoga, turskog i perzijskog jezika). Primjeri za upotrebu glasa h: halka, aždaha, Allah, lahko, truhlo, mehak itd.</p>
<h2>Glasovne promjene i glasovni zakoni</h2>
<p>Kada u određenim uvjetima dođe do stvaranja drugoga glasa, onda možemo govoriti o postojanju glasovne promjene. Kada utvrdimo uvjete pod kojima se jedan glas mijenja u drugi, onda možemo govoriti o glasovnom zakonu</p>
<h2>Promjena o u e</h2>
<p>U prošlosti bosanskoga jezika (kao i kod srpskoga i hrvatskoga) samoglasnik zadnjeg reda o prelazio je u samoglasnik prednjeg reda e u položajima iza prednjenepčanih ili palatalnih suglasnika, na primjer: krajem, mačem, bičem, dok se u nekim slučajevima javlja naporedna upotreba, na primjer: pijevcom/pijevcem itd.</p>
<h2>Nepostojano a</h2>
<p>Nepostojano a je bivši poluglas koji je izgubio svoj položaj u zavisnim padežima: lovac; lovca, metak; metka i dr.</p>
<h2>Jednačenje suglasnika po zvučnosti</h2>
<p>Pojedini suglasnici među sobom čine parove zvu¬čnih i bezvučnih suglasnika.<br>To su sljedeći parovi:<br>Zvučni: b d g dž đ ž z <br>Bezvučni: p  t   k č ć š s f c h<br>Dakle, bezvučni suglasnici  f, c, h nemaju svog zvučnog parnjaka.
Kada se jedan do drugoga nađu dva suglasnika nejednaka po zvučnosti, onda oni ne mogu tako ostati, već se prvi ravna prema drugome i prelazi u svoj parnjak po zvučnosti, na primjer: ćevapdžinica > ćevabdžinica; svatba > svadba; burekdžija > buregdžija itd. Jednačenje suglasnika po zvučnosti ima i svoje izuzetke, na primjer: gradski; postdiplomac; Podhrastovi; habsburški; dragstor; Vašington i dr.</p>
<h2>Jednačenje suglasnika po mjestu i načinu tvorbe</h2>
<p>Kada se strujni zubni suglsnici s, z nađu ispred prednjonepčanih suglasnika dž, d, č, ć, Ij, nj, š, ž, onda oni ne mogu tako ostati, već se mijenjaju u sebi najsrodnije suglasnike š, ž, na primjer: nošnja > nošnja; vožnja > vožnja; piščev > piščev i dr.</p>
<p>Brojni su izuzeci i od ovoga pravila, na primjer: sljez; razljutiti; sljepilo; Bišćanin i dr.</p>
<p>Kada se sonant n nađe ispred praskavih suglasnika b,p, onda ono prelazi u sonant m, na primjer: stanbeni > stambeni; prehranbeni > prehrambeni.
Ovo pravilo ima svoje izuzetke u složenicama (jedanput, vanbračni) i u pisanju bošnjačkih prezimena (Rizvanbegović, Šahinpašić, Džanbegović i dr.)</p>
<h2>Palatalizacija</h2>
<p>Kada se zadnjonepčani suglasnici k,g, h nađu ispred samoglasnika prednjega reda e, i mijenjaju se u suglasnike: č, z, š. Ova pojava naziva se palatalizacija ili prva palatalizacija.</p>
<p>Prva palatalizacija vrši se u sljedećim primjerima: junak-e > junače; drug-ina > družina; noga > nozi i dr.<br>I ovo pravilo ima svoje izuzetke, na primjer: mlaki - mlakim - mlakih; dragi - dragim - dragih; Zinka - Zinkin i dr.</p>
<h2>Sibilarizacija (druga palatalizacija, dentalizacija)</h2>
<p>Kada se zadnjonepčani suglasnici ili velari k,g, h nađu ispred vokala i mijenjaju se u piskave strujne suglasnike ili sibilante c, z, s. Ova glasovna promjena naziva se sibilarizacija, dentalizacija ili druga palatalizacija.
Dešava se u sljedećim slučajevima: junak -junaci; ruka - ruci; knjiga - knjizi; duh - dusi; orah - orasi idr.</p>Brojna su odstupanja i od ovoga pravila, na primjer:<br>Meko - Mehi; Kreho - Krehi;<br>Juka - Juki; Dika - Diki; mazga - mazgi;<br>seka - seki; Amerikanka - Amerikanki i dr.</p>

