
@{
    ViewData["Title"] = "Kombinatorika1";
}

<h1>Lekcija 2 - Lirika</h1>
<p>Lirika ili lirsko pjesništvo je književni rod kojem pripadaju književna djela u kojima su iskazani osjećaji, misli i doživljaji. Književno djelo napisano u stihovima ili prozi u kojemu su odabranim i umjetnički oblikovanim riječima iskazani doživljaji, osjećaji i misli nazivamo lirskom pjesmom. Lirika je kraće književno djelo napisano u stihovima. Može biti umjetnička i narodna.</p>
<h2>Počeci lirike</h2>
<p>U staroj Grčkoj riječ lirika (grč. lyra - žičano glazbalo) označavala je pjesme pjevane u pratnji lire. Prvi put se kao naziv roda javlja u 1. st. pr. Kr. Prvi poznati liričari su Alkej i Sapfa (7.-6. st. pr. Kr).</p>
<h2>Tematska podjela lirike po temi</h2>
<p>Tema je ono o čemu se u djelu radi. Svoje osjećaje u pjesmi progovara lirski subjekt.<br><br>

ljubavna - izražava ljubavne osjećaje (ljubav, ali i ljubavnu čežnju, patnju, ljubomoru i sl.)<br>
domoljubna - izražava osjećaje ljubavi i privrženost domovini<br>
rodoljubna - izražava osjećaje i ljubav prema narodu.<br>
socijalna - oslikavanje siromašne sredine, društvene nepravde i problema, npr. ovisnosti, kriminala, bolesti i sl.; izražava žalost i sućut, ali nerijetko i bijes i ljutnju<br>
pejzažna - putem krajolika pjesnik izražava svoja unutarnja raspoloženja, ujedno se i divi krajoliku<br>
misaona - refleksivno, duboko promišljanje o tome što je čovjek, koja je njegova uloga ili smisao života, što su vrijednosti života<br>
duhovno-religiozna - izražava vjerske osjećaje<br>
pjesma u prozi - ima sve što sadrži lirska pjesma, samo nije u formi stiha, a njome se može izraziti svaka tema, bilo kojim stilskim figurama i ritmom<br>
dijalektalna lirska pjesma - pjesma napisana na narječju nekog kraja te tako pjesnik izražava svoju ljubav prema tom kraju; najčešće je to pjesnikov rodni kraj<br>
intimna - pjesma u kojoj su izraženi pjesnikovi duboki osjećaji i doživljaji<br>
šaljiva lirska pjesma - pjesma u kojoj je neki događaj opisan na šaljiv način</p>
<h2>Tradicionalna podjela lirike po obliku</h2>
<p>himna (hvalospjev) - pjesma svečanog i ozbiljnog tona, polagana ritma posvećena osobi ili pojavi kojoj se iskazuje poštovanje, divljenje; može biti posvećena božanstvu, državi, narodu<br>
oda - zanosna pjesma svečana tona posvećena zaslužnim osobama i važnim temama<br>
epitaf - prvobitno je značio samo natpis na grobu, a s vremnom je postao kratka sentencija o životu i ljudskoj sudbini<br>
epigram - kratka pjesma duhovita i satirična tona sa neočekivanim zaključkom; najkraći i najoštriji oblik misaone lirike<br>
elegija (tužaljka) - pjesma u kojoj se izražava žaljenje za nečim nepovratnim ili nedostižnim<br>
ditiramb - pjesma vedra tona koja slavi prirodu i životne radosti<br>
idila - pjesma s temom života u prirodi, najčešće pastirskoga</p>

