
@{
    ViewData["Title"] = "Kombinatorika1";
}

<h1>Lekcija 1 - Uvod u književnost</h1>
<p>Književnost je sveukupnost pisanih predložaka, djela, dokumenata, spomenika jednog jezika, naroda, kulturnog kruga ili civilizacije. Književnost može značiti i kao umjetnost lijepih riječi.</p>

<p>Književnost je i zbir tekstova pedagoškog, filozofskog, religijskog, općenito humanističkog značaja, za razliku od djela uže znanstvene, prirodnjačke, tehničke ili praktične naravi.</p>

<p>Književnošću se nazivaju i djela takozvane "lijepe književnosti", najraznovrsniji sastavci ostvareni kao umjetnost riječi i pisane riječi, u kojima pisac izražava osobni svjetonazor i vlastite zamisli subjektivne naravi, koje se ne mogu iznijeti kao objektivna znanstvena činjenica.</p>

<p>Sadržaj književnosti su imaginativno uobličena piščeva mašta i njegove predodžbe, koje teže prema umjetničkom doživljavanju. Književnost kao oblik umjetničkog stvaralaštva je tema raznovrsnih književnoteorijskih promišljanja, koja nisu uvijek usuglašena. Ipak, utvrđena su tri sastojka koja su bitna za pojavu lijepe književnosti: osobno iskustvo pisca i njegova namjera koja prethodi književno djelu, samo književno djelo, te primanje književnog djela u svijesti čitatelja.</p>

<p>Sam izraz književnost često se zamjenjuje latinizmom "literatura", koji uz to označava i popis temeljnih i pomoćnih tekstova stanovite struke, predmeta, znanstvenog rada i slično.</p>
<h2>Podjela književnosti</h2>
<p>lirski / lirika temelji se na osjećajima
<br>epski / epika temelji se na pripovijedanju
<br>dramski / drama temelji se na radnji, napetosti
<br>diskurzivni književni oblici temelje se na spajanju znanstvenog i književnoumjetničkog načina mišljenja</p>
<h2>Književne vrste</h2>
<p>roman
<br>novela
<br>kratka priča
<br>crtica
<br>komedija
<br>tragedija
<br>drama u užem smislu
<br>ep
<br>esej
<br>mit
<br>elegija</p>

