
@{
    ViewData["Title"] = "Kombinatorika1";
}

<h1>Lekcija 1 - Uvod u kombinatoriku</h1>
<p>Kombinatorika je veoma široka grana diskretne matematike koja, u općem slučaju, proučava načine formiranja karakterističnih struktura (recimo skupova, uređenih -torki itd.) koje su izvedene iz elemenata nekog zadanog konačnog skupa u skladu s nekim određenim kriterijem. Stoga se kombinatorika može svrstati u podoblast diskretne matematike koja se ponekad naziva konačnom matematikom, s obzirom da se zasniva isključivo na skupovima koji sadrže konačno mnogo elemenata.</p>
<p>S obzirom da je u mnogim primjenama potrebno samo ustanoviti koliko takvih karakterističnih podstruktura uopće postoji, tim zadatkom se bavi jedna podgrana kombinatorike, poznata kao enumerativna kombinatorika. Često se, kada se govori o kombinatorici, misli upravo na enumerativnu kombinatoriku. Zbog ograničenog prostora, u ovom kursu ćemo se ograničiti upravo samo na izlaganje
osnovnih metoda enumerativne kombinatorike. Dakle, osnovni zadatak enumerativne kombinatorike je odrediti koliko elemenata ima neki (konačan) skup čiji su elementi zadani specifikacijom, odnosno odrediti koliki je kardinalni broj #A nekog (konačnog) skupa oblika A = { x| P(x)}, gdje je P(x) neki
predikat koji specificira koji elementi pripadaju skupu, a koji ne.</p>
<p>Na prvi pogled izgleda da se, zbog konačnosti kombinatornih problema, svi takvi problemi mogu riješiti grubom silom, odnosno prostim generiranjem svih podstruktura željene vrste formiranih od elemenata zadanog skupa, a zatim izdvajanjem samo onih podstruktura koje zadovoljavaju postavljene
kriterije. Nažalost, u praksi je takva strategija rijetko kad primjenljiva, s obzirom da je često broj podstruktura koje se mogu formirati izrazito veliki. Na primjer, skup od n elemenata ima 2^n različitih podskupova. Slijedi da, recimo, skup od 100 elemenata ima 2^100 različitih podskupova, što je nemoguće pretražiti u razumnom vremenu ni s kakvom raspoloživom tehnologijom (recimo sa ciljem da
se pronađu podskupovi s traženim svojstvima). Stoga je za pristup rješavanju takvih problema potrebno koristiti specijalno razvijene metode, koje se upravo proučavaju u okviru kombinatorike.</p>
<p>Problemi koje rješava kombinatorika su izuzetno raznoliki s aspekta težine rješavanja. Naime, bez obzira što se mnogi kombinatorni problemi rješavaju na manje ili više trivijalan način, postoje brojni
kombinatorni problemi čije rješavanje zahtijeva upotrebu veoma kompliciranog matematičkog aparata, koji izlazi iz okvira čiste diskretne matematike (npr. teoriju beskonačnih redova i produkata). Stoga se
kombinatorika smatra jednom od najtežih grana diskretne matematike, koja se prilično opire pokušajima “šablonizacije”, bez obzira što neki rutinski postupci za rješavanje mnogih kombinatornih problema ipak postoje. Recimo, jedna od najopćenitijih kombinatornih teorija koja se uspješno
primjenjuje na veliki broj kombinatornih problema od kojih su mnogi izuzetno složeni po svojoj prirodi poznata je kao Pólya-Redfieldova teorija. Ipak, riječ je o veoma složenoj teoriji, koja se oslanja na
prilično komplicirani matematski aparat (pretežno na apstraktnu algebru), tako da se u tu teoriju ne možemo upuštati. U ovom kursu, prostor nam dozvoljava da se zadržimo samo na relativno jednostavnim kombinatornim problemima, dok se zainteresirani upućuju na brojnu specijaliziranu literaturu koja je
posvećena isključivo kombinatorici.</p>
