
@{
    ViewData["Title"] = "Kombinatorika1";
}

<h1>Lekcija 2 - Sabiranje i oduzimanje polinoma</h1>
<p>Često redamo monome u polinomu od onog sa najvećim do onog sa najmanjim stepenom. To zovemo <b>sređen polinom</b>. Sledeći polinomi su sređeni: </p>
<img src="https://latex.codecogs.com/svg.latex?4x^4-3x^3+2x^2-x+1" alt="4x⁴-3x³+2x²-x+1" border="0"/>
<br>
<img src="https://latex.codecogs.com/svg.latex?a^4b^3-2a^3b^3+3a^4b-5ab^2+2" alt="a⁴b³-2a³b³+3a⁴b-5ab²+2" border="0"/>
<p>Prvi monom sređenog polinoma zovemo <b>vodeći monom</b>, a njegov koeficijent <b>vodeći koeficijent</b>. 
<p>Vodeći monom prvog polinoma iznad je 4x⁴, a vodeći koeficijent je 4. <br>Vodeći monom drugog polinoma iznad je a⁴b³, a vodeći koeficijent je 1.</p>
<p>Polinom je sređen i ako nema sličnih monoma. Dva monoma su slična ako se razlikuju samo po koeficijentu. Na primjer, 2x²y i 5x²y su slični, a 6x²y i 6xy² nisu.</p>
<p>Kada polinom sadrži slične monome, možemo ih sabirati: </p>
<img src="https://latex.codecogs.com/svg.latex?x^2+6xy-4xy+y^2" alt="x²+6xy-4xy+y²" border="0"/>
<p>U ovom polinom imamo slične monome 6xy i -4xy koje kada saberemo dobijamo 2xy. Sređeni polinom glasi:</p>
<img src="https://latex.codecogs.com/svg.latex?x^2+2xy+y^2" alt="x²+2xy+y²" border="0"/>
<p><b>Primjer 1</b>. Saberimo polinome:</p> 
<img src="https://latex.codecogs.com/svg.latex?(4x^3-2x^2+4x+15)+(x^4-8x^3-9x-6)" alt="(4x³-2x²+4x+15)+(x⁴-8x³-9x-6)" border="0"/>
<p><b>Rješenje</b>: Oslobodit ćemo se zagrada, sabrati slične monome i srediti rezultat:</p>
<img src="https://latex.codecogs.com/svg.latex?x^4-4x^3-2x^2-5x+9" alt="x⁴-4x³-2x²-5x+9" border="0"/>
<p><b>Primjer 2. </b>Oduzmimo polinome:</p>
<img src="https://latex.codecogs.com/svg.latex?(2x^3+x^2-6x-7)-(5x^3-3x^2+10x-12)" alt="(2x³+x²-6x-7)-(5x³-3x²+10x-12)" border="0"/>
<p><b>Rješenje</b>: Oslobodit ćemo se zagrada, oduzeti slične monome i srediti rezultat:</p> 
<img src="https://latex.codecogs.com/svg.latex?3x^3+4x^2-16x+5" alt="3x³+4x²-16x+5" border="0"/>

