
@{
    ViewData["Title"] = "Kombinatorika1";
}

<h1>Lekcija 1 - Uvod u polinome</h1>
<p><b>Definicija 1.</b><br>Polinom je matematički izraz koji sadrži samo varijable i konstante, obično brojeve, povezane računskim operacijama sabiranja, oduzimanja i množenja, te nenegativnih cjelobrojnih potencija.</p>
<p>Primjer polinoma: </p>
<img src="http://latex.codecogs.com/svg.latex?4x^3+2x^2-3x+1" border="0"/>
<p>Svaki dio polinoma koji se sabira se naziva <b>monom</b>. Primjer odozgo je polinom sa četiri monoma.</p>
<p>Brojevi koji se pojavljuju na početku svake promjenljive se nazivaju <b>koeficijenti</b>. Broj koji se pojavljuje sam bez promenljive se naziva <b>konstanta</b>.</p>
<p>U ovom slučaju, koeficijent uz x³ je 4, koeficijent uz x² je 2, koeficijent uz x je -3, a konstanta je 1.</p>
<p>Svaki monom u polinomu ima svoj <b>stepen</b>. Stepen monoma je stepen promenljive u tom monomu.</p>
<p>4x³ ima stepen 3 i zove se kubni monom.<br>2x² ima stepen 2 i zove se kvadratni monom.<br>-3x ima stepen 1 i zove se linearni monom.<br>1 ima stepen 0 i zove se konstanta.</p>
<p>Po definiciji, stepen polinoma je jednak najvećem stepenu svog monoma. Ovaj primer je polinom stepena 3, koji takođe zovemo kubni polinom.</p>
<p>Polinomi mogu sadržati više od jedne promenljive. Evo još jednog primjera polinoma:</p>
<img src="https://latex.codecogs.com/svg.latex?t^4-6s^3t^2-12st+4s^4-5" border="0"/>
<p>Ovo jeste polinom jer su svi izložioci promenljivih prirodni brojevi. Ovaj polinom sadrži pet monoma.</p>  
<p>Stepen monoma je jednak zbiru stepena svih promenljivih u monomu. Drugim riječima, stepen monoma je broj promenljivih koje se međusobno množe u tom monomu, bez obzira na to da li su iste ili ne.</p>
<p>t⁴ ima stepen 4.<br>-6s³t² ima stepen 5.<br>-12st ima stepen 2.<br>4s⁴ ima stepen 4.<br>-5 je konstanta, pa je stepena 0. </p>
<p>Pošto je najveći stepen monoma u ovom polinomu 5, ovo je polinom petog stepena.</p>

