
@{
    ViewData["Title"] = "Kombinatorika1";
}

<h1>Lekcija 2 - Pisanje riječi stranog porijekla</h1>
<h2>Pisanje imena iz jezika koji se služe latinicom</h2>
<p>1. Vlastita imena iz jezika koji se služe latinicom mogu se u bosanski jezik prenositi u latinicu i ćirilicu. Ako se prenose u latinicu, pišu se ili fonetski ili izvorno; ako se prenose u ćirilicu, pišu se fonetski (tj. onako kako se izgovaraju i u skladu s odgovarajućim transliteracijskim i transkripcijskim pravilima).</p>
<p>2. Opće je načelo da se vlastita imena iz drugih jezika i onda kada se pišu izvorno pri promjeni po padežima i pri tvorbi prisvojnih pridjeva prilagođavaju obrascima bosanskoga jezika. Ovo znači da se izvorno pisanje u cijelosti odnosi samo na nominativni lik.</p>
<p>3. Geografska imena (imena kontinenata, zemalja, otoka, poluotoka, gradova i sl.) treba da ostanu u obliku u kome su otprije prihvaćena , tj. ne treba ih podvrgavati drugom načinu prenošenja, odnosno transkribiranja: Evropa, Australija, Češka, Italija, Liban, Saudijska Arabija, Španija, Himalaja, Beč, Kartum, Moskva, Pariz, Peking, Prag, Rim, Skoplje, Ženeva, Tokio (genitiv: Tokija), Skoplje.</p>
<p>4. Imena koja završavaju na nenaglašeno -a ili -o mijenjaju se kao i naša imena s tim završecima. Na isti način kao i od naših imena tvore se od tih stranih imena prisvojni pridjevi na -ov/-ev i -in:</p>
<p>a)Spinoza, genitiv: Spinoze, pridjev: Spinozin; Gioconda, Gioconde, Giocondin; Gina Lollobrigida, Gine Lollobrigide, Ginin;</p>
<p>b) Chicago, Chicaga; Nicola, Nicole;</p>
<p>5. Pridjevi na -ski izvedeni iz osobnih imena iz drugih jezika pišu se ponašeno, tj. malim slovom i fonetski: šekspirski (:Shakespeare), lajpciski (:Leipzig), njujorški (:New York), minhenski (:Munchen), štokholmski (:Stockholm), vikipedijski (:Wikipedia).</p>
<h2>Pisanje imena koji se služe drugim pismima</h2>
<p>1. Opće načelo koga se valja držati u pisanju imena iz jezika koji se ne služe ni latinicom ni ćirilicom glasi: takva se imena pišu onako kako se pišu u službenoj latiničkoj transkripciji u naroda iz kojeg potječu. Ovo načelo vrijedi u međunarodnom dopisivanju, u diplomaciji, na geografskim kartama te u naučnoj literaturi i sl.</p>
<p>U domaćoj javnoj upotrebi (u novinama, na televiziji, u skolama, u popularnoj literaturi) ovakva imena mogu se pisati onako kako su već usvojena (npr. Hsinhau, Mao Ce Tung, gen. Mao Ce Tunga, prid. Mao Ce Tungov; tako je i s burmanskim, vijetnamskim i drugim imenima: U Tant, gen. U Tanta, prid. U Tantov), ali valja stvarati uvjete za prelazak na pisanje prema službenoj transkripciji naroda iz koga potječu.</p>
<p>2. Imena iz arapskog jezika u domaćoj javnoj upotrebi pišu se na način vec uobičajen u bosanskome jeziku.</p>
<p>a) Dvočlana imena arapskog porijekla pišu se polusloženicki: Ebu-Leheb, gen. Ebu-Leheba. Određeni član uz takva imena piše se zajedno s prvim dijelom imena, a drugi dio imena vezuje se crticom. Kao i u ostalih polusloženica, prvi dio ne dobija obličke nastavke: Abdul-Muttalib (gen. Abdul-Muttaliba), Ebur-Rebi (gen. Ebur-Rebija), Zul-Karnejn (gen. Zul-Karnejna).</p>
<p>b) Ukoliko se određeni član upotrijebi samo uz prezime, odnosno jednočlano ime (kako na početku tako i unutar rečenice), piše se velikim početnim slovom i uz ime vezuje crticom: El-Arebi (gen.El-Arebija), Et-Taberi (gen. Et-Taberija).</p>
<p>c) Ukoliko između dvaju članova u imena arapskoga porijekla dolazi skraćenica b. (:bint, ibn-u znacenju: kći, sin), oba člana su promjenljiva: Abdullah b. Abbas (gen. Abdullaha b. Abbasa).</p>
<p>3. Pojedine islamske termine, iz naročitih razloga, potrebno je pisati tako da se može što lakše prepoznati njihov izvorni oblik. Otuda se u njima, kao i u arapskim imenima (većinom u stručnim djelima), susreću i znakovi kao: hemze ('), labijal waw (w) i sl.</p>
<p>Naprimjer: Kur'an (pisanje s hemzetom - koji se piše kao apostrof, a predstavlja grleni poluglas), kira'et, mu'min i sl.</p>
<p>Naprimjer: Labijal waw se oznacava kao w.: tewba, tewhid, sewab, mewlud, lewha. Izvan stručnih dijela većina ovim riječi se pišu bez posebnih znakova: kiraet, mumin, levha, tevba, tevhid, sevab/sevap.</p>

