
@{
    ViewData["Title"] = "Kombinatorika1";
}

<h1>Lekcija 1 - Pisanje velikog i malog slova</h1>
<p>1. Velikim početnim slovom pišu se (svi članovi) imena naroda, grupa naroda, plemena i pojedinih njihovih pripadnika: Albanci, Albanac, Albanka; Bošnjaci, Bošnjak, Bošnjakinja; Nijemci, Nijemac, Njemica; Srbi, Srbin, Srpkinja;</p>
<p>U sastavu složenica ovakva se imena pišu malim slovom: nearap, neslaven, velikosrbin, velikohrvat, dok se polusloženički pišu uz prefiks pseudo: pseudo-Kinez.</p>
<p>2. Kada je riječ o dijelu nekoga naroda, član ispred ili iza imena naroda piše se malim početnim slovom: vojvodanski Mađari, sarajevski Jevreji, sandžacki Bošnjaci, Jevreji sefardi, Jevreji aškenazi (ali: Sefard, Aškenazi - kada se dio tog naroda imenuje jednom rječju).</p>
<p>3. Velikim početnim slovom pišu se zbirne imenice kao što su: Slavenstvo (u značenju: svi Slaveni), ali slavenstvo (sa značenjem: slavenski osjećaj), Bošnjastvo (u znacenju: svi Bošnjaci), ali bošnjastvo (sa značenjem: osjećaj pripadnosti Bošnjacima).</p>
<p>4. Velikim početnim slovom piše se ime Bog (Allah, Jahve, Milostivi, Samilosni, Vladar i dr.) pridjev od imena Bog: Božiji, kao i svi zamjenički oblici koji se odnose na Boga (On, Njega, Ga, Mu...). Nazivi koji zamjenjuju ime Boga također se pišu velikim početnim slovom, bez obzira nalaze li se sami ili uz ime na koje se odnose: Gospodar, Stvoritelj, Svevišnji; Bog Allah, Svevišnji Allah, Svemogući Stvoritelj.</p>
<p>5. Imena božanstva i mitoloških bića pišu se velikim početnim slovom: Bal, Hubel, Lat, Mars, Afrodita, Lucifer, Višnu.</p>
<p>6. U službi vlastitog imena piše se: Djevica, Gospa. Ako se ovakvi nazivi javljaju uz ime koje određuju, pišu se malim početnim slovom: gospa Marija.</p>
<p>7. Kao opće imenice bog, boginja, božica, sotona, šejtan i dr. pišu se malim početnim slovom.</p>
<p>8. Velikim početnim slovom piše se: Poslanik, Vjerovjesnik, Božiji Poslanik, Allahov Poslanik i sl. kada se time zamjenjuje ime vjerovjesnika Muhammeda.</p>
<p>9. Velikim početnim slovom pišu se svi članovi (osim prijedloga i veznika) imena država (bilo da se navodi puno ime, bilo da se umjesto zvaničnoga javlja kraće ime): Bosna i Hercegovina (Republika Bosna i Hercegovina), Sjedinjene Američke Države, Republika Hrvatska, Ruska Federacija.</p>
<p>10. Za razliku od dvočlanih i višečlanih imena država, velikim početnim slovom piše se samo prvi član naziva svih ostalih upravnih jedinica (a od ostalih članova samo vlastita imena): Tuzlanski bazen, Srednjobosanski kanton, Bihaćki okrug, Muftijstvo travničko, Vrhbosanska nadbiskupija, Mostarska općina, ali Općina mostarska (u značenju njenog područja).</p>
<p>11. Upotreba velikog slova također se ograničava samo na prvi član u nazivu svih nepostojećih (bivših) upravnih tvorevina, osim ako su drugi članovi imena koja se pišu velikim slovom: Bosanski ejalet, Bosanski pašaluk, Osmansko carstvo (Otomanska imperija, Tursko carstvo), Banovina Hrvatska, Dubrovačka republika, Socijalistička federativna republika Jugoslavija; Imotski kadiluk, Savska banovina.</p>
<p>Izuzetno se velikim početnim slovom (budući da su naporedne, ravnopravne jedinice) pišu oba člana polusloženice Austro-Ugarska (ali: Austro-Ugarsko carstvo, Habsburška monarhija).</p>
<p>12. Velikim početnim slovom pišu se osobna imena ljudi (imena, prezimena, ustaljeni nadimci i druge riječi koje su postale sastavni dio imena ili se mogu upotrebljavati umjesto njega), osim odredbenih dijelova unutar tih imena:</p>
<p>a) imena i prezimena: Ćamil, Muhamed, Amira, Alija Djerzelez, Leonardo da Vinči, Otto von Bismarck, Ebu-Sufjan b. Harb, Ebu-Ubejda el-Džerah, Karlo Veliki, Dumas Otac;</p>
<p>b) ustaljeni nadimci, imena odmila i sl.: Babo, Braco, Seka, Beba; Meho, Mehica, Minka, Ibrica, Selmica.</p>
<p>Kada se prezimena iz drugih jezika upotrijebe s pomoćnom riječi (tj. odredbenim dijelom), a bez osobnoga imena, kako na početku tako i unutar rečenice, ta se pomoćna riječ (prijedlog, veznik ili član) piše velikim početnim slovom: Van Beethoven, Von Bismarck, Da Vinči; El-Buhari i sl.</P>
<p>13. Kada im se da posebno značenje, velikim početnim slovom pišu se riječi kao: Dobro, Dobrota, Istina, Sreća; Iseljenici, Pomagaći te sintagma kao: Ploča neuništiva, Pravi put i dr. U svome osnovnom značenju velikim početnim slovom piše se: Džennet, Džehennem, Serijat. Tako i sintagma kao Sudnji dan i dr.</p>
<p>14. Imenice koje stoje uz lično ime kao oznake zanimanja, počasnih naslova, položaja i sl. pišu se malim početnim slovom: ban Borić, kralj Tvrtko, herceg Stjepan, did Radomir, Smail-aga, Ajvaz-dede, Husrev-beg, beg Ljubusak, Omer-paša, Hasan-efendija, Kadira-hanuma, sultan Mehmed, hadži Fadil, hafiz Emir, magistar Imamović, direktor Kovacević, doktor Zukić.</p>

