@model E_Learning.Models.Recenzija

@{
    ViewData["Title"] = "Uredi recenziju";
}
<head>
    <style>
        h1 {
            text-align: left;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: #3ccf17;
            text-transform: uppercase;
        }
    </style>
</head>


<body>
    <br>
    <h1>Uredi recenziju</h1>
    <br>
    <h4>Recenzija</h4>
    <hr />
    <br>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="KursId" />
                <input type="hidden" asp-for="KorisnikId" />
                <div class="form-group">
                    <label asp-for="Ocjena" class="control-label"></label>
                    <input asp-for="Ocjena" class="form-control" />
                    <span asp-validation-for="Ocjena" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Komentar" class="control-label"></label>
                    <input asp-for="Komentar" class="form-control" />
                    <span asp-validation-for="Komentar" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    </body>